{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}

{% block body %}
    <h1>Connexion</h1>

        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <table style="width=50%; margin: auto:">
                <tbody>
                    <tr>
                        <td><label for="username">Login :</label></td>
                        <td><input type="text" id="username" name="_username" value="{{ last_username }}" /></td>
                    </tr>
                    <tr>
                        <td><label for="password">Mot de passe :</label></td>
                        <td><input type="password" id="password" name="_password" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" value="Connexion" /></td>
                    </tr>
                </tbody>
            </table>
        </form>

{% endblock %}
