<nav class="navbar navbar-expand-lg bg-danger">
    {% set currentRoute = app.request.attributes.get('_route') %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <span class="navbar-brand">SutekinaBox</span>
        </li>
        <li class="nav-item {{ currentRoute == 'homepage' ? 'active'}}">
            <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
        </li>
    </ul>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Changer Utilisateur /non disponible/</a>
            <div class="dropdown-menu">
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a class="dropdown-item" href="{{ path('homepage', {'_switch_user': '_exit'}) }}">Exit impersonation</a>
                {% else %}
                    <a class="dropdown-item" href="{{ path('homepage', {'_switch_user': 'mark'}) }}">Mark - ROLE_MARKETING</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('homepage', {'_switch_user': 'Nath'}) }}">Nath - ROLE_ACHAT</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('homepage', {'_switch_user': 'user1'}) }}">User1 - ROLE_USER</a>
                {% endif %}
            </div>
        </li>
    </ul>


    {% if app.user %}
        <ul class="navbar-nav mr-right">
            {% if is_granted('ROLE_EMPLOYE') %}
            <li class="nav-item dropdown {{ currentRoute == 'admin' ? 'active'}}">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('box_index') }}">Liste Box</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('admin_produit_index') }}">Produits</a>
                </div>
            </li>
            {% endif %}
            <li class="nav-item {{ currentRoute == 'logout' ? 'active'}}">
                <a class="nav-link" href="{{ path('logout') }}">Me déconnecter</a>
            </li>
        </ul>
    {% else %}
        <ul class="navbar-nav mr-right">
            <li class="nav-item {{ currentRoute == 'login' ? 'active'}}">
                <a class="nav-link" href="{{ path('login') }}">Se connecter</a>
            </li>
        </ul>
    {% endif %}

</nav>

<br />