{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="rounded" style="border: 2px solid black;text-align: center;background-color: #00b154;padding: 10px;">SutekinaBox</h1>

    {% if app.user %}
        {% set  username = app.user.username  %}
    {% else %}
        {% set  username = ''  %}
    {% endif %}

    <div>
        <table style="margin: auto;">
            <tr>
                <td><h3>Bienvenu {{ username }}</h3></td>
                <td>{% if is_granted('ROLE_ADMIN') %}
                        {% if nbNotif %}
                            <a class="badge badge-primary badge-pill" href="{{ path('showNotifiction') }}" style="margin-left: 10px;">
                                <h6 style="display: inline;">
                                    Notifications <span class="badge badge-light">{{ nbNotif }}</span>
                                </h6>
                            </a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

    <div align="center">
        {% if boxes %}
            <h1>Les Boxes Disponibles</h1>
            <div class="row">
                {% for box in boxes %}
                    <div class="card text-white bg-secondary border-dark" style="width: 15rem;margin: 5px;">
                        <img class="card-img-top" src="{{ asset('the-box.jpg') }}" alt="the_box">
                        <div class="card-body">
                            <p class="card-text" style="margin-bottom: -15px;">
                                <h2>{{ box.boxName }}</h2>
                                <h3>{{ box.themeBox }}</h3>
                                <a class="btn btn-primary" href="{{ path('showBoxUser', { 'id': box.id }) }}" role="button" style="margin-bottom: -20px;">Box details &raquo;</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h1>Aucune Box Disponible pour le moment !</h1>
        {% endif %}
    </div>
{% endblock %}

