{% extends 'base.html.twig' %}

{% block body %}

    <div class="rounded" style="width: 600px; margin: auto;border: 1px solid red; padding-right: -5px;">
        <div class="card-group">
            <div class="card">
                <div class="card-body text-center">
                    <img class="card-img-middle" src="{{ asset('the-box.jpg') }}" alt="the_box" style="width: 15rem;">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <table class="table table-pills table-sm table-hover table-striped">
                        <tbody>
                        <tr>
                            <th scope="row" class="align-middle">Nom :</th>
                            <td class="align-middle">{{ box.boxName }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Theme :</th>
                            <td class="align-middle">{{ box.themeBox }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Valeur :</th>
                            <td class=" align-middle">{{ box.budgetMax-box.budgetRestant }} euros</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="border border-dark rounded text-center bg-secondary text-white" style="margin-top: -15px;padding-bottom: 5px;">Liste produits</h4>
                <div class="rounded" style="border: 2px solid black;">
                    <table class="table table-sm table-dark table-hover table-striped" style="width: 600px; margin: auto;">
                        <thead class="thead-dark">
                        <tr class="align-middle text-center">
                            <th scope="col">Reference</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prix</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for produit in box.listeProduits.values %}
                            <tr>
                                <td class="text-left align-middle">{{ produit.reference }}</td>
                                <td class="text-center align-middle">{{ produit.nom }}</td>
                                <td class="text-center align-middle">{{ produit.prix }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

