{% extends 'base.html.twig' %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div style="height: 50px;border: 0px solid red;">
        <div class="float-left" style="padding: 0 5px;margin-bottom: 5px;">
            {% block EntetePagesLeft %}{% endblock %}</div>
        <div class="float-right">{% block EntetePagesRight %}{% endblock %}</div>
    </div>
    {% block Adminbody %}{% endblock %}

{% endblock %}
