{% extends 'admin/admin.html.twig' %}

{% block title %}Notifictions{% endblock %}
{% block body %}

    <div align="center">
        {% if notifications %}
            <h1>Les notifications</h1>
            <div class="row">
                {% for notification in notifications %}
                    {% set type = notification.etat == 'Vu' ? 'secondary' : 'info' %}
                    <div class="card text-white bg-{{ type }} border-dark" style="width: 15rem;margin: 5px;">
                        <div class="card-body">
                            <p class="card-text" style="margin-bottom: -15px;">
                            <h2>{{ notification.role }}</h2>
                            <h5>{{ notification.description }}</h5>
                            <a class="btn btn-primary" href="{{ path('notifictionVu', { 'id': notification.id }) }}" role="button" style="margin-bottom: -20px;">Go</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h1>Aucune Box Disponible pour le moment !</h1>
        {% endif %}
    </div>

{% endblock %}

