{% extends 'admin/admin.html.twig' %}
{% block title %}Ajout produit Box{% endblock %}

{% block EntetePagesLeft %}<h3>Ajouter Produit Box</h3>{% endblock %}
{% block EntetePagesRight %}
    {% if not produits or box.listeProduits.values %}
        <a class="btn btn-danger" href="{{ path('completedBox', { 'id': box.id}) }}">Box Completed</a>
    {% endif %}
    <a class="btn btn-info" href="{{ path('box_index') }}">Back to the list</a>
{% endblock %}

{% block Adminbody %}



    <table class="table table-sm bg-secondary">
        <thead class="thead-dark">
        <tr class="align-middle text-center text-white">
            <th scope="col">Id</th>
            <th scope="col">Boxname</th>
            <th scope="col">Budgetmax</th>
            <th scope="col">Budgetrestant</th>
            <th scope="col">Themebox</th>
            <th scope="col">State</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-white">
            <th scope="row" class="text-center align-middle">{{ box.id }}</th>
            <td class="text-left align-middle">{{ box.boxName }}</td>
            <td class="text-center align-middle">{{ box.budgetMax }}</td>
            <td class="text-center align-middle">{{ box.budgetRestant }}</td>
            <td class="text-center align-middle">{{ box.themeBox }}</td>
            <td class="text-center align-middle">{{ box.state }}</td>
        </tr>
        <tr>
            <th scope="row" class="text-center align-middle" colspan="6">
                <h4 class="border border-dark rounded text-center bg-primary text-white" style="margin: 0 50px;padding-bottom: 5px;">
                    Liste Produits
                </h4>
            </th>
        </tr>
            <tr>
                <td colspan="6">
                    {% if box.listeProduits.values %}
                    <table class="table table-sm table-hover table-bordered table-striped" style="width: 600px; margin: auto;">
                        <thead class="thead-dark">
                        <tr class="align-middle text-center">
                            <th scope="col">Id</th>
                            <th scope="col">Reference</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for produit in box.listeProduits.values %}
                            <tr>
                                <th scope="row" class="text-center align-middle">{{ produit.id }}</th>
                                <td class="text-left align-middle">{{ produit.reference }}</td>
                                <td class="text-center align-middle">{{ produit.nom }}</td>
                                <td class="text-center align-middle">{{ produit.prix }}</td>
                                <td class="text-center align-middle">{{ produit.statut }}</td>
                                <td class="text-center align-middle">
                                    <a class="btn btn-danger" href="{{ path('removeProduitBox', { 'id': box.id, 'idsup': produit.id }) }}" role="button">Remove</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <h5 class="border border-dark rounded text-center bg-danger text-white" style="width:300px;margin: auto;padding: 5px;">La Box est vide !</h5>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    {#<p>{{ dump(box.listeProduits.values) }}</p>#}

    {% if produits %}
    <table class="table table-sm table-hover table-bordered table-striped" style="width: 600px; margin: auto;">
        <thead class="thead-dark">
        <tr class="align-middle text-center">
            <th scope="col">Id</th>
            <th scope="col">Reference</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Statut</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody class="text-dark">
        {% for produit in produits %}
        <tr>
            <th scope="row" class="text-center align-middle">{{ produit.id }}</th>
            <td class="text-left align-middle">{{ produit.reference }}</td>
            <td class="text-center align-middle">{{ produit.nom }}</td>
            <td class="text-center align-middle">{{ produit.prix }}</td>
            <td class="text-center align-middle">{{ produit.statut }}</td>
            <td class="text-center align-middle">
                <a class="btn btn-primary" href="{{ path('produitBoxAjouter', { 'id': box.id, 'idaj': produit.id }) }}" role="button">Ajouter</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h5 class="border border-dark rounded text-center bg-danger text-white" style="width:300px;margin: auto;padding: 5px;">
            Aucun Produit disponible
        </h5>
    {% endif %}

{% endblock %}