{% extends 'admin/admin.html.twig' %}

{% block title %}Box edit{% endblock %}

{% block EntetePagesLeft %}<h3>Box edit</h3>{% endblock %}

{% block EntetePagesRight %}
    <a class="btn btn-info" href="{{ path('box_index') }}">Back to the list</a>
{% endblock %}

{% block Adminbody %}

    {{ form_start(edit_form) }}
    <div style="width: 300px; margin: auto; ">
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Edit" />
    </div>
    {{ form_end(edit_form) }}

{% endblock %}
