{% extends 'admin/admin.html.twig' %}
{% block title %}Box Liste{% endblock %}

{% block EntetePagesLeft %}<h3>Boxes list</h3>{% endblock %}

{% block EntetePagesRight %}
    <a class="btn btn-dark" href="{{ path('box_new') }}" role="button">Create a new box</a>
{% endblock %}

{% block Adminbody %}

    <table class="table table-sm table-hover table-bordered table-striped">
        <thead class="thead-dark">
            <tr class="align-middle text-center">
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Boxname</th>
                <th scope="col">Budgetmax</th>
                <th scope="col">Budgetrestant</th>
                <th scope="col">Themebox</th>
                <th scope="col">State</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for box in boxes %}
            <tr>
                <td class="text-center align-middle">
                    <a class="btn btn-danger"  href="{{ path('box_delete', { 'id': box.id }) }}" role="button">Delete</a>
                </td>
                <th scope="row" class="text-center align-middle">{{ box.id }}</th>
                <td class="text-left align-middle">{{ box.boxName }}</td>
                <td class="text-center align-middle">{{ box.budgetMax }}</td>
                <td class="text-center align-middle">{{ box.budgetRestant }}</td>
                <td class="text-left align-middle">{{ box.themeBox }}</td>
                <td class="text-center align-middle">{{ box.state }}</td>
                <td class="text-center align-middle">
                    {% if box.state == "verified" %}
                    <a class="btn btn-success"  href="{{ path('finishBox', { 'id': box.id }) }}" role="button">Finish</a>
                    {% elseif box.state == "fill" or box.state == "empty"  %}
                    <a class="btn btn-primary"  href="{{ path('ajoutProduitBox', { 'id': box.id }) }}" role="button">Fill in</a>
                    {% endif %}
                    <a class="btn btn-info" href="{{ path('box_show', { 'id': box.id }) }}" role="button">show</a>
                    <a class="btn btn-secondary"  href="{{ path('box_edit', { 'id': box.id }) }}" role="button">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div style="margin: auto;width: 300px;">
    <h5 style="text-align: center;">Etats Possible des boxes</h5>
    <table class="table table-sm table-hover table-striped">
        <tr>
            <td class="text-center align-middle">1</td>
            <td>empty</td>
        </tr>
        <tr>
            <td class="text-center align-middle">2</td>
            <td>Fill</td>
        </tr>
        <tr>
            <td class="text-center align-middle">3</td>
            <td>completed</td>
        </tr>
        <tr>
            <td class="text-center align-middle">4</td>
            <td>verified</td>
        </tr>
        <tr>
            <td class="text-center align-middle">5</td>
            <td>finish</td>
        </tr>
    </table>
</div>





{% endblock %}
