{% extends 'admin/admin.html.twig' %}
{% block title %}Box creation{% endblock %}

{% block EntetePagesLeft %}<h3>Box creation</h3>{% endblock %}

{% block EntetePagesRight %}
    <a class="btn btn-info" href="{{ path('box_index') }}" role="button">Back to the list</a>
{% endblock %}

{% block Adminbody %}

    {{ form_start(form) }}
    <div style="width: 300px; margin: auto; ">
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
    </div>
    {{ form_end(form) }}

{% endblock %}
