{% extends 'admin/admin.html.twig' %}
{% block title %}Box{% endblock %}

{% block EntetePagesLeft %}<h3>Box</h3>{% endblock %}

{% block EntetePagesRight %}
    <a class="btn btn-info" href="{{ path('box_index') }}" role="button">Back to the list</a>
{% endblock %}

{% block Adminbody %}
    <div class="rounded" style="width: 600px; margin: auto;border: 1px solid red; padding-right: -5px;">
        <div class="card-group">
            <div class="card">
                <div class="card-body text-center">
                    <img class="card-img-middle" src="{{ asset('the-box.jpg') }}" alt="the_box" style="width: 15rem;">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <table class="table table-pills table-sm table-hover table-striped">
                        <tbody>
                        <tr>
                            <th scope="row" class="align-middle">Nom :</th>
                            <td class="align-middle">{{ box.boxName }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Theme :</th>
                            <td class="align-middle">{{ box.themeBox }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Valeur :</th>
                            <td class=" align-middle">{{ box.budgetMax-box.budgetRestant }} euros</td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">State</th>
                            <td class=" align-middle">{{ box.state }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="border border-dark rounded text-center bg-secondary text-white" style="margin-top: -15px;padding-bottom: 5px;">Liste produits</h4>
                <div class="rounded" style="border: 2px solid black;">
                    <table class="table table-sm table-dark table-hover table-striped" style="width: 600px; margin: auto;">
                        <thead class="thead-dark">
                        <tr class="align-middle text-center">
                            <th scope="col">Rejeter</th>
                            <th scope="col">Reference</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Valider</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, produit in box.listeProduits.values %}
                            <tr>
                                <td class="text-center align-middle">
                                    {% if produit.statut != "Non Conforme" %}
                                    <a class="btn btn-danger" href="{{ path('confAndNonConf', { 'id': box.id, 'idp': key, 'action': "Non Conforme" }) }}">Non Conforme</a>
                                    {% endif %}
                                </td>
                                <td class="text-left align-middle">{{ produit.reference }}</td>
                                <td class="text-center align-middle">{{ produit.nom }}</td>
                                <td class="text-center align-middle">{{ produit.prix }}</td>
                                <td class="text-center align-middle">{{ produit.statut }}</td>
                                <td class="text-center align-middle">
                                    {% if produit.statut != "Conforme" %}
                                    <a class="btn btn-success" href="{{ path('confAndNonConf', { 'id': box.id, 'idp': key, 'action': "Conforme" }) }}">Conforme</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
