{% extends 'admin/admin.html.twig' %}
{% block title %}Produits Liste{% endblock %}

{% block EntetePagesLeft %}<h3>Produits list</h3>{% endblock %}

{% block EntetePagesRight %}
    <a class="btn btn-dark" href="{{ path('admin_produit_new') }}" role="button">Create a new produit</a>
{% endblock %}

{% block Adminbody %}

    <table class="table table-sm table-hover table-bordered table-striped">
        <thead class="thead-dark">
            <tr class="align-middle text-center">
                <th>Id</th>
                <th>Reference</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td class="text-center align-middle"><a href="{{ path('admin_produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>
                <td class="text-center align-middle">{{ produit.reference }}</td>
                <td class="text-center align-middle">{{ produit.nom }}</td>
                <td class="text-center align-middle">{{ produit.prix }}</td>
                <td class="text-center align-middle">{{ produit.statut.0 }}</td>
                <td class="text-center align-middle">
                    <a class="btn btn-info" href="{{ path('admin_produit_show', { 'id': produit.id }) }}" role="button">show</a>
                    <a class="btn btn-info" href="{{ path('admin_produit_edit', { 'id': produit.id }) }}" role="button">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
