{% extends 'admin/admin.html.twig' %}

{% block Adminbody %}

    <h1>Produit creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_produit_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
